.App {
  text-align: center;
}
/* Navigation Start */
.selected{
  background-color: blue;
  color:white;
}
.nav-container{
  display:flex;
  background-color: aqua;
  justify-content: space-around;
  border-bottom: 2px solid blue;
  padding: 2%;
}
.nav{
  font-size: larger;
    border-radius: 9%;
    padding:0.2% 0.3% 1%;
}
.nav:hover{
  font-size: xx-large;
}
/* Navigation End */

/* Body Start */
/* Body End */